.container {
    position: relative;
}

.container:hover {
    transform: scale(1.02);
    font-weight: bold;
}

a {
    color: white;
}

.song-title {
    position: absolute;
    width: 568px;
    bottom: 5px;
    padding: 16px;
    text-align: center;
    background-color: rgba(0,0,0, 0.5);
}

/*div {*/
/*    background-color: #A8D1D1;*/
/*    padding: 1rem;*/
/*}*/

/*.song {*/
/*    background-color: #FD848A;*/
/*    margin: 16px;*/
/*    padding: 8px;*/
/*}*/

/*li {*/
/*    list-style-type: none;*/
/*}*/

/*!**/
/*#item2 {*/
/*    font-weight: bold;*/
/*}*/

/*li:first-child {*/
/*    font-weight: bold;*/
/*}*/

/*li:nth-child(3) {*/
/*    font-weight: bold;*/
/*}*/

/*li:nth-child(odd) {*/
/*    color: #FFF;*/
/*}*/
/**!*/

/*li > div:hover {*/
/*    background-color: #F1F785;*/
/*    font-weight: bold;*/
/*    font-size: 1.1rem;*/
/*}*/